*{
    margin:0;
    padding: 0;
}

#color{
    float: right;
    margin-right: 15px;
}

#heading{
    font-size: 2rem;
    background-color: black;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

#container{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#btn{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(214, 189, 155);
    color: rgb(74, 23, 23);
    border-radius: 8%;
}
